node_modules
test
.prettierrc
.gitignore
Dockerfile
README.md
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.git
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
.vscode
.idea
tmp/